body
{
    background-color: #e77500;
    margin: 2rem;
}

h1
{
    display: none;
}

#content-wrapper
{
    position: relative;
    min-height: 92vh;
}

.princeton-builds
{
    font-size: 2rem;
    font-weight: 800;
    margin:1rem 0 2rem 0;
}

.headline-top,
.headline-bottom
{
    text-transform: uppercase;
    line-height: 1.6rem;
}

.headline-top
{
    color: #000;
}

.headline-bottom
{
    color: #fff;
}

.nav-button
{
    margin: 1rem 0;
}

.nav-button a,
.nav-button a:focus
{
    width: 100%;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.75rem;
    background-color: #444;
    border: #444;
    color: #fff;
}

.nav-button a:hover,
.nav-button a:active
{
    background-color: #555;
    color: #fff;
}

footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer .logo-pu
{
    float: left;
}

footer .logo-vf
{
    float: right;
}

