body
{
    background-color: #e77500;
    margin: 2rem;

}

h1
{
    display: none;
}

.princeton-builds
{
    margin:1rem 0 2rem 0;
    width: 15rem;
}

section
{
    margin: 2rem 0;
}

.nav-button,
.nav-button-mobility
{
    margin: 1rem 0;
}

.nav-button a,
.nav-button a:focus
{
    width: 100%;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.75rem;
    background-color: #0047AB;
    border: #0047AB;
    color: #fff;
}

.nav-button a:hover,
.nav-button a:active
{
    background-color: #0A87C2;
    color: #fff;
}

footer
{
    width: 100%;
}

footer .logo-pu img
{
    height: 45px;
}

footer .logo-vf img
{
    height: 30px;
    margin-top: 8px;
}